# Ambiente virtual
.venv/
venv/

# Cache Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Saidas geradas
output/*.png
output/*.html
output/*.xlsx

# Sistema
.DS_Store
Thumbs.db

# Testes/cache
.pytest_cache/
